h1{
  font-family: $Mono;
  color: $outer-space;
  font-weight: $regular;
  font-size: $xxx-large;
}

h2 {
  font-family: $Mono;
  color: $outer-space;
  font-weight: $regular;
  font-size: $medium;
}

h3 {
  font-family: $Mono;
  color: $outer-space;
  font-weight: $regular;
  font-size: $x-large;
}

h4 {
  font-family: $Mono;
  color: $outer-space;
  font-weight: $regular;
  font-size: $xx-large;
}

p{
  font-family: $Mono;
  font-weight: $regular;
  font-size: $medium;
}
